name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "^1.24.0"
          - "^1.23.0"
          - "^1.22.0"
    name: Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go test -race -coverprofile=coverage.out -covermode=atomic
      - uses: codecov/codecov-action@v4
        with:
          file: ./coverage.out
